* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

/* header */

header {
    padding: 10px 0;
    background-color:#255ee9;
}
.header {
    justify-content: space-between;
}

.logo, .login{
    flex-basis: 200px;
    align-content: ;
}

.login {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

#login-header {
    color: black;
    text-decoration: none;
    font-size: 20px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid black;
    padding: 10px;

}

.link a {
    flex-basis: 60%;
    text-align: center;
    text-decoration: none;
    padding: 0 20px 0 20px;
    color: white;
    font-size: 20px;
}

.logo, .link {
    padding: 5px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}


/* MAIN */

.section {
    padding: 40px 0;
}

.section-first {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.content-section-first h1 {
    font-size: 40px;
    padding: 30px 0 20px 0;
}

.content-section-first p {
    font-size: 24px;
    padding: 0 25px 10px 25px;
}

.content-section-first button:last-child {
    background-color: black;
    color: white;
}

.content-section-first button {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 18px;
}

.content-section-first {
    flex-basis: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-bottom: 80px;
}

.col-1-main img{
    max-width: 550px;
}

/* .content-section-main {
    flex-basis: 100%;
} */

.col-2-main h2 {
    font-size: 40px;
    padding-top: 30px;
}

.col-2-main p {
    padding-right:150px;
    font-size: 25px;
}

.col-1-main {
    flex-basis: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.col-2-main {
    flex-basis: 40%;
    height: 100%;
}

#reverse {
    flex-direction: row-reverse;
}

.third-section img {
    max-width: 600px;
}

.content-section-last {
    flex-basis: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content-section-last h2 {
    font-size: 40px;
    padding-bottom: 20px;
}

.content-section-last p {
    font-size: 25px;
    text-align: center;
}

.content-section-last h3 {
    font-size: 30px;
    padding-bottom: 40px;
}

.content-section-last img {
    width: 100%;
}

.content-section-last button {
    padding: 10px;
    border-radius: 20px;
    background-color:#7289da ;
    color: white;
    font-size: 18px;
}

.footer-main {
    padding: 40px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* footer */

.footer1 {
    padding: 15px 0 35px 0;
    background-color: #23272a ;
}

.col-2-footer1, .col-3-footer1, .col-4-footer1, .col-5-footer1 {
    flex-basis:calc(100% / 6);
}

.col-1-footer1 {
    flex-basis: calc(100% / 3 );
}

.col-1-footer1 h4 {
    font-size: 35px;
    padding-bottom: 10px;
    color: #7389d2;
}

.flag {
    max-width: 25px;
}

.col-1-footer1 select {
    font-size: 20px;
    color: white;
    background-color: transparent;
    border-color: transparent;
}

h5 {
    color:#7389d2;
    font-size: 20px;
}

li {
    list-style: none;
    padding: 10px 0 10px 0;
    font-size: 18px;
    color: white;
}

.footer2 {
    background-color: #23272a;
}

.last-footer {
    justify-content: space-between;
    padding: 20px 0 20px 0;
    border-top: 1px solid white;
}

.logo1, .bottone {
    padding: 10px;
    background-color: #7289da;
    border-radius: 20px;
    color: white;
}